

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: rem(13px);
    width: 100%;
}

.container--header {
    align-items: center;
}

.header__btns {
    display: flex;
    align-items: center;

}

.header__logo {
    width: rem(98px);
    height: rem(74px);
    flex-shrink: 1;
}


.btn {
    font-family: Ubuntu;
    font-size: rem(13px);
    font-weight: 500;
    color: white;
    border-style: none;
    border-radius: rem(5px);
    background-color: #e45028;
    text-transform: uppercase;
    padding: rem(7px) rem(16px) rem(7px) rem(16px);
    &:active {
        background-color: #990000;
    }
}




